body {
    font-family: "Courier New";
}

h2 {
    font-family: "Arial";
}

#majaArea, #majdArea {
    float: left;
    width: 25%;
}


#minaArea, #mindArea {
    width: 25%;
    float: right;

}


button {
    font-family: "Courier New";
    border-radius: 8px;
    font-size: 15px;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;

}