h2 {
	font-family: "Arial"
}

body{
	font-family: "Courier New";
	background-image: url("background-brick-close-up-1585710.jpg");
	background-size: 100% 100%;
}
.wrapper{ 
	width: 350px; padding: 20px; 
	opacity: 100%;
}
