body{
background-image: url("background-brick-close-up-1585710.jpg") ;
background-size: 100% 100% ;
font-family: "Ariel", sans-serif;
}

h1{
	font-family: "courier", serif;
	color: white;
	font-weight: bolder ;

}

.header {
	background-color: #8D8D8D ;
}

.card-body {
	text-align: center ;

}

.card-title {
	font-weight: bold;
	font-size: 30pt;
}

.card {
	margin-top: .5rem ;
	margin-bottom: .5rem ;
	background-color: #ECEBEB ;
}

.newBtnChar {
	margin-top: 2rem ;
}